# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
ai.env
# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE and editor settings
.vscode/
.idea/
*.swp

# Logs and local data
.DS_Store
Thumbs.db
*.log
